body{
    background-image: url(../img/resorces/win-xp-wallpaper-01.jpg);
    background-position-x: center;
}
.title_xp_font {
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    font-size: 100px;
    text-anchor: 10px;
    width: 450px;
    margin: 20px;
    color: whitesmoke;
    border-color:10px solid ;
    box-shadow: inset;
    text-shadow: -5px 5px 1px black ;
    margin-top: 2%;
    margin-left: 5%;
}
.xp_bar {
    text-align: center;
    text-shadow: 10px;
    height: 50px;
    width: 90%;
    align-self: center;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
    background: linear-gradient(to bottom, #0058e6 0%, #247fe1 12%, #0054e3 100%);
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    color: aliceblue;
    box-shadow: inset 0px -1px 2px rgba(0,0,0,0.5);
}
.xp-button {
    background-color:#ece9d8;
    border: 1px solid #7f9db9;
    padding: 6px 15px;
    font-family: Tahoma, 'Segoe UI', sans-serif;
    font-size: 15px;
    color: #000;
    text-decoration: none; 
    display: inline-block; 
    cursor: pointer;
    margin: 10px;
    box-shadow: inset -1px -1px 2px rgba(0,0,0,0.2), inset 1px 1px 2px rgba(255,255,255,0.8);

}
.box_1{ 
    background-color:#0058e6;
    height: 50px;
    width: 100%;
    top: 869px;
    left: 0px;
    position: absolute;
}
.box_2{
    height: 50px;
    width: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    background-color: #0058e6;
}
.box_3{
    background-color: #0058e6;
    height: 50px;
    width: 50px;
}